PORT=4000
COGNITO_CLIENT_ID=4p1eij9ma15s46dsnml7nvq33h
COGNITO_ISSUER=https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_hds56hAiG
COGNITO_JWKS_URI=https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_hds56hAiG/.well-known/jwks.json
S3_ORIGINAL_BUCKET=taskflow-originals-s3
S3_RESIZED_BUCKET=taskflow-resized-s3
DDB_USERS_TABLE=taskflow-users
DDB_TEAMS_TABLE=taskflow-teams
DDB_PROJECTS_TABLE=taskflow-projects
DDB_TASKS_TABLE=taskflow-tasks
DDB_COMMENTS_TABLE=taskflow-comments
DDB_ACTIVITY_LOG_TABLE=taskflow-activity-log
SNS_ASSIGNMENT_TOPIC_ARN=arn:aws:sns:eu-north-1:507210367232:taskflow-notifications
SQS_ASSIGNMENT_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/507210367232/taskflow-assignment-queue
SQS_ASSIGNMENT_QUEUE_ARN=arn:aws:sqs:eu-north-1:507210367232:taskflow-assignment-queue
