PORT=4000
COGNITO_CLIENT_ID=your-cognito-app-client-id
COGNITO_ISSUER=https://cognito-idp.<region>.amazonaws.com/<userPoolId>
COGNITO_JWKS_URI=https://cognito-idp.<region>.amazonaws.com/<userPoolId>/.well-known/jwks.json
S3_ORIGINAL_BUCKET=mini-jira-originals
S3_RESIZED_BUCKET=mini-jira-resized
DDB_USERS_TABLE=MiniJiraUsers
DDB_TEAMS_TABLE=MiniJiraTeams
DDB_PROJECTS_TABLE=MiniJiraProjects
DDB_TASKS_TABLE=MiniJiraTasks
DDB_COMMENTS_TABLE=MiniJiraComments
DDB_ACTIVITY_LOG_TABLE=MiniJiraActivityLog
SNS_ASSIGNMENT_TOPIC_ARN=arn:aws:sns:<region>:<account>:MiniJiraTaskAssignments
SQS_ASSIGNMENT_QUEUE_URL=https://sqs.<region>.amazonaws.com/<account>/MiniJiraAssignmentQueue
